.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  &.nav--destination {
  }
  // &.nav--crew {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: baseline;
  //   gap: 1rem;
  //   position: absolute;
  //   bottom: 3rem;
  // }
}

@media screen and (min-width: 375px) {
  .innerNav {
    max-width: fit-content;
  }
}
