@import "../../styles/fonts";

.drawer {
  background-color: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(30px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 254px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  &--close-button {
    align-self: end;
    padding: 2rem 1.5rem;
  }
  img {
    margin-bottom: 3rem;
  }
  nav {
    padding: 0;
    ul {
      background: none;
      padding: 0;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      li:has(a.active) {
        border-right: 3px solid map-get($fonts, "white");
      }
      a.active {
        border: 0;
      }
    }
  }
}
