header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar--line {
    height: 1px;
    max-width: 560px;
    margin-right: -10rem;
    background: #979797;
    flex: 1;
  }
  nav {
    display: none;
  }
  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .menu {
    display: block;
  }

  .drawer {
    img {
      cursor: pointer;
    }
    nav {
      display: block;
      width: 100%;
    }
    ul {
      li {
      }
    }
  }

  .drawer nav {
  }
}

@media screen and (min-width: 769px) {
  header {
    padding: 0 0 0 1rem;
    nav {
      display: flex;
    }
    .menu {
      display: none;
    }
  }
}
