header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  margin-bottom: 3rem;
  .navbar--line {
  }
  nav {
    display: none;
  }
  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .menu {
    display: block;
  }

  .drawer {
    img {
      cursor: pointer;
    }
    nav {
      display: block;
      width: 100%;
    }
    ul {
      li {
      }
    }
  }

  .drawer nav {
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 0 0 1rem;
    nav {
      display: flex;
    }
    .menu {
      display: none;
    }
  }
}
