@import "../../styles/colors";
@import "../../styles//fonts";

.crew-container {
  padding: 1rem;
  max-width: 750px;
  margin: 0 auto;
  .container {
    .crew--innerNav {
      max-width: max-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin: 1.5rem auto;
      li {
        a {
          color: rgb(62, 58, 58);
        }
        a.active {
          color: map-get($colors, "white");
        }
      }
    }
    .headline {
      font-size: 1.3em;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      span {
        font-weight: bold;
        margin-right: 1.5rem;
        color: gray;
      }
    }
    .content-container {
      display: grid;
      grid-gap: 2rem;
      place-items: center;
      margin-top: 3rem;
    }
    .content {
      text-align: center;
      padding: 2rem 0;
      &-img {
        width: 300px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      &__role {
        font-family: map-get($fonts, "Bellefair");
        color: gray;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-weight: 200;
      }
      &__name {
        font-family: map-get($fonts, "Bellefair");
        text-transform: uppercase;
        font-weight: 200;
        font-size: 2em;
      }
      &__bio {
        color: map-get($colors, "blue-300");
        text-align: center;
        margin-top: 1.5rem;
        line-height: 1.8;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .crew-container {
    .container {
      .headline {
        text-align: left;
        margin-top: 2.5rem;
      }
      .content {
        &-img {
          width: 420px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .crew-container {
    max-width: 1100px;
    margin: 0 auto;
    .container {
      .crew--innerNav {
        margin: 0;
        gap: 2.5rem;
      }
      .content-container {
        grid-template-columns: repeat(2, 1fr);
      }
      .content > * {
        text-align: left;
      }
      .content {
        &-img {
          width: 540px;
        }
        &__role {
          font-size: 2em;
        }
        &__name {
          font-size: 3em;
        }
      }
    }
  }
}
