@import "./styles/fonts";
@import "./styles/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: map-get($fonts, "Barlow");
  color: map-get($colors, "white");
}

body {
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
